@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";
body{
    background-color: #4a4a4a;
    color:#ffffff;
    font-family: Poppins, sans-serif;
}

h1{
    text-align: center;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top:20px;
    font-size: 18px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    color:#1a1a1a;
    font-size: 18px;
    text-align: justify;
  }
